<ul>
    {% for category in categories %}
    <li{% if request.resolver_match.kwargs.cat_tag == category.slug %} class="active"><em>{{ category.name|capfirst }}</em>{% else %}><a href="{% url 'products:category' category.slug %}">{{ category.name|capfirst }}</a>{% endif %}</li>
    {% endfor %}
    <li{% if request.resolver_match.kwargs.cat_tag == 'show-all' %} class="active"><em>Все продукты</em>{% else %}><a href="{% url 'products:category' 'show-all' %}">Все продукты</a>{% endif %}</li>
</ul>
