{% extends 'mainapp/base.html' %}


{% block content %}
    <h1>Ваша корзина</h1>
    <div id="basket-detail">
        <main>
            <section class='slot-row'>
                <section class="product-name"></section>
                <section class="product-price"></section>
                <section class="product-quantity"></section>
                <section class="product-cost"></section>
            </section>
        </main>
        <footer></footer>
    </div>
{% endblock content %}
    