{% extends 'adminapp/base.html' %}

{% block content %}
    <a href="{% url 'adminapp:product_list' %}">К перечню товаров</a>
    <h1>{{ object.name }}</h1>
    <img src="/media/{% if object.image %}{{ object.image }}{% else %}products_img/no_image.png{% endif %}" alt="{{ object.name }}">
    <p>{{ object.description }}</p>
    <dl>
        <dt>Цена:</dt>
        <dd>{{ object.price }}</dd>
        <dt>Остаток:</dt>
        <dd>{{ object.stock }}</dd>
    </dl>
    <a href="{% url 'adminapp:product_update' object.pk %}">Изменить</a>
{% endblock content %}
    