<!DOCTYPE html>
<html lang="ru">
    <head>
        <link rel="stylesheet" type="text/css" href="/static/mainapp/css/styles.css">
        <title>Контакты</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/products">Продукты</a></li>
                <li class="active"><em>Контакты</em></li>
            </ul>
        </nav>
        <main>
            <h1>Контакты</h1>
            <img src='/static/img/contacts.jpg' />
        </main>
    </body>
</html>