{% extends 'mainapp/base.html' %}

{% load static %}

{% block content %}
{{ block.super }}

{% for error in errors %}
    <div class='alarm'>{{ error }}</div>
{% endfor %}
    
<div id="products">
    <aside id="categories">
        {% include 'mainapp/includes/inc_categories.html' %}
    </aside>
    <main id="showcase">
    {% block showcase %}
        <section id="case-content">
            {% for item in categories %}
            <figure class="case-item">
                <a href="{% url 'products:category' item.slug %}"><img src="/media/{% if item.image.filename %}{{ item.image.filename }}{% else %}products_img/no_image.png{% endif %}"></a>
                <figcaption>
                    <h3><a href="{% url 'products:category' item.slug %}">{{ item.name }}</a></h3>
                    <p>{{ item.description }}</p>
                </figcaption>
            </figure>
            {% endfor %}
        </section>
    {% endblock showcase %}
    </main>
</div>
{% endblock content %}
