{% extends 'mainapp/base.html' %}

{% load static %}

{% block content %}
{{ block.super }}

{% for error in errors %}
    <div class='alarm'>{{ error }}</div>
{% endfor %}
    
<div id="products">
    <aside id="categories">
        {% include 'mainapp/includes/inc_categories.html' %}
    </aside>
    <main id="showcase">
        <h2>{{ object.title }}</h2>
        {% for item in object.data %}
        <p>{{ item.0 }}<br />{{ item.1 }}</p>
        {% endfor %}
    </main>
</div>
{% endblock content %}
