body, div, nav, main, section, aside, header, footer, figure, figcaption,
article, p, h1, h2, h3, h4, ul, ol, li, dl, dt, dd, img,
table, caption, thead, tbody, tfoot, tr, td, form {
    margin: 0;
    padding: 0;
    display: block;
    background-color: transparent;
    background-image: none;
    border: none;
    color: inherit;
    font-family: inherit;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    text-decoration: none;
}

a, a img {
    border: none;
    text-decoration: none;
}

ul, ol, dl {
    list-style: none;
}

a, em, strong, span {
    display: inline;
    color: inherit;
    font-family: inherit;
}

/*****************************************************************************/

body {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 12px;
    color: #222;
    background-color: #fefefe;
}

nav,
main {
    margin: 20px;
}

nav ul,
nav ul li,
nav ul li a {
    display: inline-block;
}

nav ul li {
    margin: 5px 0;
    color: #fefefe;
    background-color: #5a5a5a;
}

nav ul li:hover,
nav ul li.active {
    color: #5a5a5a;
    background-color: #fefefe;
}

nav ul li a {
    margin: 0;
    padding: 5px 15px 7px 15px;
    font-style: normal;
    font-size: 1rem;
}

h1, h2, h3 {
    margin: 1.5em 0;
    font-weight: bold;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.7em;
}

img {
    margin: 2em 0;
}

p {
    margin: 1.2em 0;
}

#products {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row nowrap;
}

#categories, #showcase {
    display: block;
    margin: 20px;
}

#categories {
    flex: 1;
    min-width: 230px;
    max-width: 300px;
    padding-right: 20px;
    border-right-color: #bebebe;
    border-right-style: double;
}

#categories li {
    display: block;
    margin: 0 0 -1px 0;  
    font-size: 1rem;
    color: #fefefe;
    background-color: #5a5a5a;
    border-color: #bebebe;
    border-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
}

#categories li:hover,
#categories li.active {
    color: #5a5a5a;
    background-color: #fefefe;
}

#categories li a {
    margin: 0;
    display: block;
    padding: 7px 20px 10px 15px;
    font-style: normal;
    font-size: 1rem;
}

#showcase {
    flex: 3;
}

#case-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
}

#case-content figure {
    width: 33%;
}

#case-content figure img,
#case-content figure figcaption {
    margin: 20px;
}

form.auth-form {
    margin: 20px auto;
    width: 40%;
    max-width: 300px;
}

.form-control {
    margin: 5px 0;
    width: 99%;
}

.slot-row,
.total-row {
    display: block;
    margin: 20px;
}

.total-row {
    text-align: right;
}

.product-name,
.product-price,
.slot-quantity,
.slot-cost,
.slot-remove {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 20px;
}

.product-name {
    width: 50%;
}

.product-price {
    width: 15%;
    text-align: right;
}

.slot-quantity {
    width: 5%;
    text-align: center;
}

.slot-cost {
    width: 18%;
    text-align: right;
}

.empty-basket {
    display: block;
    margin: 30px;
    font-size: 1.5em;
    text-align: center;
}